{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/check_users_style.css' %}">
{% endblock 'head' %}

{% block 'titulo' %}Check Data{% endblock %}

{% block 'body' %}
    <h1> Todos os usuarios </h1>
    <table>
        <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> CPF </th>
                <th> Age </th>
                <th> Email </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td> {{ user.f_name }} </td>
                    <td> {{ user.l_name }} </td>
                    <td> {{ user.cpf }} </td>
                    <td> {{ user.age }} </td>
                    <td> {{ user.email }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}
